<div class="about d-inline align-items-center">
    <div class="photo d-flex justify-content-center"><img src="../../../assets/fotoPerfil.png" alt="Foto Jeniffer" class="rounded-circle"></div>
    <div>
        <h1 class="name m-2 text-center">Jeniffer Lorhaynne</h1>
        <div class="tex_about d-flex justify-content-center">
            <p class="m-2">
                Formada em Ciência da Computação pela Faculdade de Petrolina - FACAPE e atuo na área de desenvolvimento de software, com foco em aplicações web. Tenho conhecimento em HTML, CSS, Angular, Bootstrap, TypeScript, NestJS, MySQL, Java e Python.
                
                Durante minha formação, estagiei na área de cibersegurança no NTI da FACAPE. Além disso, venho desenvolvendo projetos pessoais, onde aplico na prática minhas habilidades em front-end e back-end.
                
                Me considero uma profissional com facilidade para aprender, trabalhar em equipe e comprometida com a qualidade das soluções que desenvolvo. Estou em busca de uma oportunidade para crescer profissionalmente.</p>
        </div>
        <div class="contacts d-flex justify-content-center">
            <ul class="m-2 d-flex justify-content-start">
                <li><a href="../../../assets/Curriculo_Jeniffer_Santana_2025.pdf" download><button type="button" class="btn btn-outline-secondary d-flex justify-content-center align-items-center"><span class="material-symbols-outlined">
                    download
                </span></button>
                  </a></li>
                <li><a href="https://www.linkedin.com/in/jeniffer-lorhaynne-nascimento-96a42b2a1" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a></li>
                <li><a href="https://github.com/jenna428" target="_blank"><i class="fab fa-github fa-3x"></i></a></li>
                <li><a href="mailto:jeniffer28nascimento@gmail.com"><button type="button" class="btn btn-outline-secondary d-flex justify-content-center align-items-center"><span class="material-symbols-outlined">
                    forward_to_inbox
                </span></button></a></li>
            </ul>
        </div>
    </div>
</div>
<app-skills></app-skills>

