@charset "UTF-8";

h1{
    font-family: var(--fonte_titulo);
    color: white;
    font-size: 1.5em;
}

.skills {
    background-color: var(--lilas_claro);
}

p{
    font-family: var(--font_icons);
    font-size: 0.9em;
}

.sk{
    background-color: white;
    border-radius: 50%;
    width: 110px;
    height: 110px;
}

img{
    width: 50px;
    height: 50px;
}

@media screen and (min-width: 550px){
    h1{
        font-size: 2em;
    }
    p{
        font-size: 1.2em;
    }
    .sk{
        width: 200px;
        height: 200px;
    }
    img{
        width: 100px;
        height: 100px;
    }
}