<div class="skills">
    <h1 class="text-center pt-3">Competências</h1>
    <div class="d-flex justify-content-center p-3">
        <div class="skill flex-wrap flex-auto d-flex justify-content-center align-items-start">
    
            <div class="sk flex-auto d-flex justify-content-center align-items-center p-2 text-center m-4">
                <div>
                    <img src="../../../assets/angular_logo.png" alt="logo">
                    <p>Angular</p>
                </div>
            </div>
    
            <div class="sk flex-auto d-flex justify-content-center align-items-center p-2 text-center m-4">
                <div>
                    <img src="../../../assets/bootstrap_logo.png" alt="logo">
                    <p>Bootstrap</p>
                </div>
            </div>
    
            <div class="sk flex-auto d-flex justify-content-center align-items-center p-2 text-center m-4">
                <div>
                    <img src="../../../assets/nest_logo.png" alt="logo">
                    <p>Nest</p>
                </div>
            </div>
    
        </div>
    </div>
</div>